section.section.section-calculators
	.wrapper.wrapper-calculators.wrapper-big
		.decor-big.left
		.decor-big.right
		.decor-small.left
		.calc-wrapper
			h2.section-calculators__title.h2-title !{tradingCalculatorText.title[lang]}
			p.section-calculators__text !{tradingCalculatorText.text[lang]}
			#tradeCalculator.trade-calculator
section.section.section-estimation
	.wrapper.wrapper-estimation
		h2.section-estimation__title.h2-title !{estimationText.h2[lang]}
		p.estimation-prev-text !{estimationText.ul_title[lang]}
		.clc-results
			.clc-table.clc-field
				.clc-tableTitles
					-for(let i = 1; i < 8; i++)
						.clc-tableTitles__item.clc-table__item !{estimationText["li_"+i][lang]}
				.clc-tableResults
					.clc-tableResults__item.clc-table__item EUR/USD Buy
					.clc-tableResults__item.clc-table__item 1.09200
					.clc-tableResults__item.clc-table__item 1
					.clc-tableResults__item.clc-table__item 1.09201
					.clc-tableResults__item.clc-table__item -5.09
					.clc-tableResults__item.clc-table__item 200.00 EUR
					.clc-tableResults__item.clc-table__item 0.92 EUR
		.estimation
			ul.estimation-list
				-for(let i = 1; i < 8; i++)
					li.estimation-list__item !{estimationText["offer_"+i][lang]}
