section.section.section-steps
	.wrapper.wrapper-steps.wrapper-big
		.decor-big.left
		.decor-big.right
		.decor-small.right
		.decor-small.left
		.blue-wrapper.blue-wrapper_steps
			h2.h2-title.light-color.h2-title_steps !{indexStepsText.h2[lang]}
			.steps-list
				.steps-list__item.steps-list__item-1(data-aos="fade" data-aos-delay="300")
					h3.light-color.steps-list__title.steps-list__title-1.h3-title !{indexStepsText.step1.title[lang]}
					p.light-color.steps-list__text !{indexStepsText.step1.text[lang]}
				.steps-list__item.steps-list__item-2(data-aos="fade" data-aos-delay="450")
					h3.light-color.steps-list__title.steps-list__title-2.h3-title !{indexStepsText.step2.title[lang]}
					p.light-color.steps-list__text !{indexStepsText.step2.text[lang]}
				.steps-list__item.steps-list__item-3(data-aos="fade" data-aos-delay="600")
					h3.light-color.steps-list__title.steps-list__title-1.h3-title !{indexStepsText.step3.title[lang]}
					p.light-color.steps-list__text !{indexStepsText.step3.text[lang]}
				.steps-decor-list
			a(href=linkSignup).btn-center.btn.btn-not-background.btn-start-trade !{buttonText.btnStartTrade[lang]}