section.section.section-advantages
	.wrapper.wrapper-advantages
		.gif-decor.gif-decor_advantages
			img.gif-decor-img(src=baseDir + "assets/images/gif-decor.gif" alt="gif decor")
		h2.h2-title.h2-title-advantages !{indexAdvantagesText.h2[lang]}
		.advantages-list
			.advantages-list__item(data-aos="fade" data-aos-delay="300")
				.advantages-list__icon.advantages-list__icon-1
				.advantages-text-wrapper
					h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage1.title[lang]}
					p.advantages-list__text !{indexAdvantagesText.advantage1.text[lang]}
			.advantages-list__item(data-aos="fade" data-aos-delay="450")
				.advantages-list__icon.advantages-list__icon-2
				.advantages-text-wrapper
					h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage2.title[lang]}
					p.advantages-list__text !{indexAdvantagesText.advantage2.text[lang]}
			.advantages-list__item(data-aos="fade" data-aos-delay="600")
				.advantages-list__icon.advantages-list__icon-3
				.advantages-text-wrapper
					h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage3.title[lang]}
					p.advantages-list__text !{indexAdvantagesText.advantage3.text[lang]}
			.advantages-list__item(data-aos="fade" data-aos-delay="300")
				.advantages-list__icon.advantages-list__icon-4
				.advantages-text-wrapper
					h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage4.title[lang]}
					p.advantages-list__text !{indexAdvantagesText.advantage4.text[lang]}
			.advantages-list__item(data-aos="fade" data-aos-delay="450")
				.advantages-list__icon.advantages-list__icon-5
				.advantages-text-wrapper
					h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage5.title[lang]}
					p.advantages-list__text !{indexAdvantagesText.advantage5.text[lang]}
			.advantages-list__item(data-aos="fade" data-aos-delay="600")
				.advantages-list__icon.advantages-list__icon-6
				.advantages-text-wrapper
					h3.advantages-list__title.h3-title !{indexAdvantagesText.advantage6.title[lang]}
					p.advantages-list__text !{indexAdvantagesText.advantage6.text[lang]}