section.section.section-benefits
	.wrapper.wrapper-benefits
		.gif-decor.gif-decor_benefits
			img.gif-decor-img(src=baseDir + "assets/images/gif-decor.gif" alt="gif decor")
		h2.h2-title.h2-title_benefits !{indexBenefitsText.h2[lang]}
		.benefits-list
			.benefits-slider-item.benefits-slider-item-1(data-aos="fade" data-aos-delay="300")
				.benefits-icon.benefits-icon-1
				h3.benefits-list__title.h3-title !{indexBenefitsText.benefit1.title[lang]}
				p.benefits-list__text !{indexBenefitsText.benefit1.text[lang]}
			.benefits-slider-item.benefits-slider-item-2(data-aos="fade" data-aos-delay="450")
				.benefits-icon.benefits-icon-2
				h3.benefits-list__title.h3-title !{indexBenefitsText.benefit2.title[lang]}
				p.benefits-list__text !{indexBenefitsText.benefit2.text[lang]}
			.benefits-slider-item.benefits-slider-item-3(data-aos="fade" data-aos-delay="300")
				.benefits-icon.benefits-icon-3
				h3.benefits-list__title.h3-title !{indexBenefitsText.benefit3.title[lang]}
				p.benefits-list__text !{indexBenefitsText.benefit3.text[lang]}
			.benefits-slider-item.benefits-slider-item-4(data-aos="fade" data-aos-delay="450")
				.benefits-icon.benefits-icon-4
				h3.benefits-list__title.h3-title !{indexBenefitsText.benefit4.title[lang]}
				p.benefits-list__text !{indexBenefitsText.benefit4.text[lang]}