section.section.section-profits
	.wrapper.wrapper_profits
		.profits-list(class="profits-list_" + lang + " profits-list_" + currentPage)
			.profits-list__item(data-aos="fade-up" data-aos-delay="300")
				.profits-icon.profits-icon_1
					.profits-icon-text 1
				h3.profits-list__title.h3-title !{indicesProfitsText.profit1.title[lang]}
				p.profits-list__text !{indicesProfitsText.profit1.text[lang]}
			.profits-list__item(data-aos="fade-up" data-aos-delay="450")
				.profits-icon.profits-icon_2
					.profits-icon-text 2
				h3.profits-list__title.h3-title !{indicesProfitsText.profit2.title[lang]}
				p.profits-list__text !{indicesProfitsText.profit2.text[lang]}
			.profits-list__item(data-aos="fade-up" data-aos-delay="300")
				.profits-icon.profits-icon_3
					.profits-icon-text 3
				h3.profits-list__title.h3-title !{indicesProfitsText.profit3.title[lang]}
				p.profits-list__text !{indicesProfitsText.profit3.text[lang]}
			.profits-list__item(data-aos="fade-up" data-aos-delay="300")
				.profits-icon.profits-icon_4
					.profits-icon-text 4
				h3.profits-list__title.h3-title !{indicesProfitsText.profit4.title[lang]}
				p.profits-list__text !{indicesProfitsText.profit4.text[lang]}
